@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background-color: #FCC9C5; 
    
}

.container { /* revisiting our friend flexbox froggy*/
    text-align: center;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px; /* there must be a better way to do this */
}

.container h1 {
    font-family: 'Bungee', sans-serif;
    text-align: center;
    font-size: 70px;
    color: turquoise;
    text-shadow: #000 1px 0px 3px;
}

.container p {
    font-size: 25px;
}

button {
    margin: 10px;
    border-style: none;
}

button:hover {
    background-color: turquoise;
}

