body {
    background:#393737;
    text-align: center;
    font-family: 'Ultra', serif;
}
h1 {
    color: gray;
}
.search-bar {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border: none;
    border-bottom: solid gray 1px;
    padding: 3px 10px;
    width: 500px;
    color: white;
    margin-top: 50px;
}
.title {
    margin-top: 150px;
}
.btn {
    margin-top: 20px;
}
img {
    display: hide;
}