.container {
    
    display: flex;
    flex-direction: columnrow;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    padding-top: 100px;
    align-items: center;

} 

h1 {
    text-align: center;
    margin-top: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategray
}

button {
    
    align-content; space-between;
    margin-top: 30px;
    width: 150px;     
}



.form-control{
    display: flex;
    justify-content: center;
    width: 650px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    
}
