* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: whitesmoke;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: center;
  margin-top: 25px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

.input {
  display: flex;
  flex-direction: row-reverse;
}
